#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#div_banner {
    width: 1250px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
#div_banner img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    position: absolute;
    transition: transform 1s ease;
}
#div_banner img:not(.active) {
    transform: translateX(100%);
}
#button_moving {
    position: absolute;
    width: 90%;
}
#button_moving img {
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 100%;
    padding: 3px;
    width: 35px;
    height: 35px;
}
#button_moving img:hover {
    border: 1px solid rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1);
}
#button_moving_left {
    float: left;
}
#button_moving_right {
    float: right;
}
#button_moving_bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    width: 223px;
}
#button_moving_bottom div {
    padding: 5px;
    border-radius: 100%;
    border: 1px solid transparent;
    background-color: var(--boxshadow-color);
}
.button_moving_bottom_icon {
    background-color: black !important;
}

@media screen and (max-width: 1279px) {
    #div_banner {
        width: 1000px;
        height: 350px;
    }
    #button_moving img {
        width: 30px;
        height: 30px;
    }
    #button_moving_bottom {
        width: 100px;
    }
}

@media screen and (max-width: 1023px) {
    #div_banner {
        width: 700px;
        height: 300px;
    }
    #button_moving img {
        width: 20px;
        height: 20px;
    }
    #button_moving_bottom div {
        padding: 2px;
    }
}

@media screen and (max-width: 640px) {
    #div_banner {
        width: 550px;
        height: 220px;
    }
    #button_moving img {
        width: 10px;
        height: 10px;
    }
}
