.change_in4_main {
    width: 650px;
    height: 420px;
    border: 3px dotted #ffb200;
    text-align: center;
    border-radius: 5px;
}
.change_in4_main_head {
    height: 40px;
    border-bottom: #ffb200 1px dotted;
    padding-bottom: 5px;
}
.change_in4_main_head h1 {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-weight: 500;
    line-height: 125.023%;
    text-align: center;
}
.change_in4_main_body {
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.change_in4_main_body_data {
    text-align: left;
}
.change_in4_main_body input {
    border: none;
    width: 261px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 7px;
    background-color: #d9d9d9;
    padding-left: 5px;
}
.row1 input {
    margin-left: 61px;
}
.row2 input {
    margin-left: 40px;
}
.row3 input {
    margin-left: 78px;
}
.row4 input {
    margin-left: 9px;
}
.row6 input {
    margin-left: 11px;
}
input[type='submit'] {
    width: 128px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #ffb200;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);
}
input[type='submit']:hover {
    border: 1px solid #ffb200;
    color: #ffb200;
    background-color: white;
}
.change_in4_main_body_click {
    text-align: center;
}
