#footer {
    width: 1200px;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: var(--menu-color);
    padding: 25px 25px 15px 25px;
    color: black;
}
#footer_header {
    display: flex;
    justify-content: space-between;
}
.footer_items {
    display: flex;
    flex-direction: column;
}
.footer_items h4 {
    padding-bottom: 10px;
}
.footer_items a {
    margin-bottom: 3px;
    color: black;
    text-decoration: none;
}
.footer_items .footer_items_img img {
    cursor: pointer;
}
.footer_items a:hover {
    margin-bottom: 3px;
    color: var(--line-color);
}
#footer_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}