@media screen and (max-width: 709px) {
    .left_list {
        font-family: 'Roboto', sans-serif;
        background-color: #0083d6;
        font-size: 0.9rem;

        width: 200px;
    }

    .left_list ul li {
        margin-top: 50px;
        list-style: none;
        margin-left: 10px;
    }

    .left_list ul li a {
        color: white;
        text-decoration: none;
    }
}
