#div_products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
#div_products #p_products {
    user-select: none;
    pointer-events: none;
    margin: 30px 0 30px 0;
    width: 462px;
    height: 35.82px;
    color: #000;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 48px */
}
.div_products_view {
    padding-bottom: 10px;
    width: 1230px;
    height: 390px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div_products_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 390px;
}
.div_products_item img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.phone_name {
    margin-top: 10px;
    padding-bottom: 17px;
    width: 206px;
    height: 17px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
}
.phone_price {
    color: var(--line-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
}
#div_search_products {
    padding: 25px 0 50px 0;
    width: 223px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#div_search_products p,
#div_search_products div img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background: var(--button-color);
}
#div_search_products div:not(.div_search_products_choose) {
    cursor: pointer;
}
#div_search_products p {
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 13px */
}
#div_search_products div img:hover {
    background: var(--button-color-choose);
}
/* Css của hiển thị sản phẩm */
#div_product_display_total {
    overflow: auto;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 998 !important;
}
#div_product_display {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    width: 800px;
    position: relative;
    border: solid 5px var(--menu-color);
}
#close_x {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 26px;
    padding: 2px 5px;
    transition: 0.2s;
}
#close_x:hover {
    color: white;
    background-color: rgb(209, 81, 81);
    border-radius: 10px;
}
#div_product_display_header {
    padding-top: 30px;
    width: 700px;
    display: flex;
    justify-content: space-around;
}
#div_product_display_header img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 50px;
    margin-bottom: 20px;
}
#div_product_display_header p {
    margin-top: 10px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#div_product_display_header select {
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #000;
    background: #fff;
    width: 145px;
    height: 30px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#div_product_display_button {
    position: relative;
    margin-top: 30px;
}
#div_product_display_button input {
    background-color: var(--menu-color);
    border-radius: 8px;
    width: 145px;
    height: 35px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.023%; /* 30.005px */
}
#div_product_display_information {
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    width: 700px;
    height: 100%;
}
#div_product_display_information h4 {
    margin-bottom: 10px;
    color: #06c;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#div_product_display_information p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}
/* Css riêng của search */
#div_product_search_type {
    width: 750px;
    display: flex;
    align-items: center;
}
#div_product_search_type select {
    text-align: center;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #000;
    background: #fff;
    width: 100px;
    height: 33px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#div_product_search_price {
    margin-left: 100px;
    display: flex;
    width: 270px;
    align-items: center;
    justify-content: space-between;
}
#div_product_search_price input {
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #000;
    background: #fff;
    width: 120px;
    height: 30px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
#div_product_search p {
    height: 10px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
