* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: 0;
}
.wrapper {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
.img_right {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  margin-left: 20px;
  border-radius: 10px;
  align-items: center;
}
.image {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
}
.img_right img {
  width: 100px;
  height: 100px;
}
.img_right img:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img_left {
  width: 400px;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}
.img_left img {
  width: 300px;
}
.name {
  margin-top: 10px;
  margin-left: 20px;
}
